body {
    display: flex;
    flex-direction: column;
    justify-content: center; /* 내용을 수직으로 중앙에 배치 */
    align-items: center; /* 내용을 수평으로 중앙에 배치 */
    height: 100vh; /* 화면 전체 높이를 사용 */
    margin: 0; /* 기본 여백 제거 */
    background: url('https://img.freepik.com/premium-vector/pixel-camouflage-soldier-army-uniform-modern-camo-fabric-design-digital-military-vector-background_87543-9813.jpg?w=1380') no-repeat center center fixed; /* 배경 이미지를 설정 */
    background-size: cover; /* 배경 이미지를 화면에 맞게 조정 */
    font-family: arial;
    font-size: 24px;
}

h1 {
    text-align: center;
    white-space: nowrap; /* h1 태그를 한 줄로 표시 */
}

input {
    width: 100%; /* input 태그의 너비를 80%로 설정 */
    height: 40px; /* input 태그의 높이를 40px로 설정 */
    font-size: 22px; /* input 태그의 글꼴 크기를 18px로 설정 */
}